< !-- HOME -->#Home {
    position: absolute;
    text-align: center;
}

.iam {
    text-align: right;
    color: #f9f9f9;
    font-family: 'Six Caps', sans-serif;
    z-index: 9999;
    font-size: 1200%;
    margin-right: 120px;
    padding-right: 5px;
    margin-top: 140px;
}

#nav {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: gray;
}

a {
    color: black;
}

#wel h1 {
    color #020202;
    font-family: 'Bitter', serif;
    text-align: right;
    font-weight: bold;
    font-size: 300%;
}

#wel {
    color #020202;
    font-family: 'Raleway', sans-serif;
    font-size: 280%;
    font-weight: bold;
    text-align: right;
    margin-left: 770px;
    margin-top: 40px;
    margin-right: -180px;
    text-shadow: 3px 6px 9px #969696;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.jumbotron {
    background: none;
    height: 100%;
    z-index: 100;
    z-index: 9999;
    text-align: inherit;
    margin-left: 160px;
}

body {
    font-size: auto;
    background: none;
    margin: 0px;
    position: relative;
    padding: 0px;
    height: 100%;
}

.navbar ul li {
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.navbar {
    transition: .5s;
}

.nav-link {
    color: white;
}

.container {
    margin: auto;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
    height: 100%;
}

.layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
    height: 100%;
}

.layer .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    height: 100%;
}

.layer h1 {
    text-align: center;
}

.bottom {
    background: none;
    z-index: 1;
}

.top {
    background: #eee;
    min-width: 50vw;
    height: 100%;
}

.top .content-body {
    left: 5%;
    color: #222;
}

.skewed .top {
    transform: skew(-27deg);
    margin-left: -950px;
    width: calc(50vw + 1000px);
    min-height: 80vh;
}

.bio a:hover {
    color: white;
}

< !-- CONTACT -->main {
    background-color: #12110D;
}

.jumbotron {
    background: none;
    margin-right: 200px;
    z-index: 9999;
    text-align: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: auto;
    margin: 0px;
    height: 100%;
    position: relative;
}

#form {
    margin-right: 100px;
}

.container {
    margin: auto;
}

.btn {
    background: #232323;
}

.btn-dark:hover {
    background: #f4f4f4;
    color: #232323;
    border: 1px solid #eaeaea;
}

#Contact {
    background: white;
    text-align: justify;
    margin: 0px;
}

table {
    border: 2px solid #bcbcbc;
    text-align: center;
}

< !-- ABOUT -->.jumbotron {
    background: none;
    height: 20%;
    text-align: inherit;
    margin-left: 160px;
}

#sk {
    font-family: 'Six Caps', sans-serif;
    text-shadow: 3px 3px 6px #969696;
    text-align: center;
}

.container {
    margin: auto;
}

#me {
    color: #020202;
    text-shadow: 0 5px 5px darkgray;
    font-size: 140%;
    text-decoration: none;
    padding: 10px;
    letter-spacing: -1px;
    margin-left: 468px;
    margin-top: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #252626;
    box-shadow: 10px 11px 11px rgb(99, 99, 99);
}

footer {
    background-color: #0C0C0C;
    width: 100%;
    height: auto;
    color: white;
}

footer p {
    text-align: center;
}

.fut {
    color: white;
    margin-bottom: -100px;
}